# fichiers python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/

# environnements virtuels
venv/
env/
.env

# ide
.vscode/
.idea/
*.swp
*.swo

# django
*.log
local_settings.py
db.sqlite3
staticfiles/

# jupyter
.ipynb_checkpoints/

# donnees sensibles
*.csv
!profils.csv

# docker
.docker/
